@model IEnumerable<BookReviewStation.Models.Review>

@using BookReviewStation.Web.Helpers

@foreach (var reviewItem in Model)
{
    <div class="row">
        <div class="col-xl-4">
            <h5>
                @reviewItem.ReviewerName
            </h5>
        </div>
        <div class="col-xl-2">
            @Html.GetStarRatingHtmlWithNoText(reviewItem.Rating)
        </div>
    </div>

    <div class="row my-2">
        <h6>@reviewItem.ReviewTitle</h6>
    </div>

    <div class="row my-2">
        <p style="text-align: justify; overflow-y: auto; height: auto;">@reviewItem.ReviewDescription</p>
    </div>

    <br />
}